.App{
  display: flex;
  flex-direction: row;
}

.post{
  border:2px solid green;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin-bottom: 5px;
  width: 23rem;
}

.post-name{
  left: 0;
  border:2px solid blue;
  width: 6rem;
}

.comment-block{

}

.comment{
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  height: 1rem;
  align-items: center;
}

.count{
  display: flex;
}

button{
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.statistic{
  margin-left: 5rem;
  background-color: aliceblue;
  height: 30rem;
  width: 34rem;
  border:2px solid orange;
  display: flex;
  justify-content: space-evenly;
}

.list-1{
  width: 17rem;
  border-right: 3px solid black;
}

.list-2{
  width: 17rem;
}

